.header__top{
	background-color: $--selected-yellow;
	padding: 10px 0;
}
.header__top_container{
	@include row-space;
 	gap: 10px;
	@media screen and (max-width:367px) {
		flex-wrap: wrap;
	}
}
.header__contact{
	display: flex;
	align-items: center;
	gap: 10px;
	& a[href^="mailto"],
	& a[href^="tel"]{
		@media screen and (max-width:1023px) {
			display: none;
		}
	}
}
.header-hours{
	@media screen and (max-width:1023px) {
		display: none;
	}
}


.header__bottom{
	padding: 15px 0;
	background-color: $--dark-greenish-blue;
}
.header__wrap{
	@include row-space;
	padding-bottom: 19px;
	@media screen and (max-width:1024px) {
		padding-bottom: 0;
	}
}
.header__navigation{
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}

.header__links{
	display: flex;
	align-items: center;
	gap: 10px;
	& .btn{
		@media screen and (max-width:1024px) {
			display: none;
		}
	}
}
.resize-menu{
	display: flex;
	align-items: center;
	gap: 15px;
	background-color: $--selected-yellow;
	padding: 10px 25px;
	border-radius: 8px;
	border: 1px solid $--selected-yellow;
	cursor: pointer;
}
.resize-menu-title{
	@include text-regular-s-Semi;
	color: $--dark-greenish-blue;
}
.header__navigation{
padding-top: 19px;
border-top: 1px solid $--silver-blue;

@media screen and (max-width:1024px) {
	display: none;
}
& .menu{
	display: flex;
	align-items: center;
	gap: 40px;
	justify-content: space-around;
	color: $--silver-blue;
	@media screen and (min-width:1200px) {
		gap: 60px;
	}
	& a{
		width: fit-content;
	}
	& li{
		position: relative;
		
		&:has(.sub-menu){
			position: relative;
			transition: .3s ease-in-out;
			&::after {
				content: "";
				width: 12px;
				height: 12px;
				position: absolute;
				right: -17px;
				left: inherit;
				top: calc(50% - 6px);
				transition: 0.3s ease-in-out;
				background: url(../images/arrow-down-silver.svg) center center / cover no-repeat;
			}
			&:hover,
			&:focus-visible{
				&:after{
					transform: rotate(180deg);
				}
				.sub-menu{
					visibility: visible;
					opacity: 1;
					transform: translateY(0);
				}
			}
		}
		&:not(:has(.sub-menu li)){
			& > a{
				&:hover{
					color: $--yellow-background;
				}
			}
		}
	}
}
& ul.sub-menu{
	position: absolute;
	top: calc(100% + 1px);
	left: -27px;
	transform: translateY(10px);
	width: 200px;
	height: auto;
	background-color: $--dark-greenish-blue;
	padding: 20px;
	border-radius: 30px;
	border: 1px solid $--white;
	display: flex;
	align-items: start;
	gap: 20px;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	z-index: 50;
	&:hover{
		visibility: visible;
		opacity: 1;
	}
}
}


.header__mob-menu{
	position: absolute;
	height: 100%;
	
	gap: 10px;
    top: 196px;
    height: calc(100vh - 196px);
    left: 0;
    z-index: -1;
    transform: translate(0, 30px);
    visibility: hidden;
    opacity: 0;
    background: #fff;
    width: 100%;
    padding: 22px 0 40px;
    background-size: cover;
    transition: 0.5s;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
    overflow-y: auto;
	@media screen and (max-width:1023px) {
		
	}
	.open &{
		z-index: 100;
    transform: translate(0, 0px);
    visibility: visible;
    opacity: 1;
	}
	
}
.top-menu{
	display: flex;
	align-items: center;
	gap: 10px;
	flex-wrap: wrap;
	& li{
		width: calc((100% / 4) - 10px);
		display: inline-block;
	}
}