@font-face {
	font-family: "Red Hat Display";
	src: url(../fonts/RedHatDisplay-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: "Red Hat Display";
	src: url(../fonts/RedHatDisplay-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: "Red Hat Display";
	src: url(../fonts/RedHatDisplay-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: "Red Hat Display";
	src: url(../fonts/RedHatDisplay-Bold.ttf);
	font-weight: 700;
}

// variables
$--black-silver:#283441;
$--dark-greenish-blue:#022F45;
$--white:#ffffff;
$--silver-white: #ECF1F5;
$--selected-yellow:#FEB703;
$--silver-blue:#9AACB5;
$--yellow-background:#FFF3D6;
$--black-silver: #283441;

//
.container{
	max-width: 1340px;
	padding: 0 20px;
	width: 100%;
	position: relative;
	margin: 0 auto;
}
h1{
	@include titleH1;
}
h2{
	@include titleH2;
	& span{
		font: inherit;
		color: inherit;
		border-radius: 500px;
		border: 1px solid $--dark-greenish-blue;
		background: $--white;
		padding: 5px 15px;
		margin-left: 10px;
	}
}
h3{
	@include titleH3;
}
h4{
	@include titleH4;
}
body{
	font-family: "Red Hat Display";
	color: $--dark-greenish-blue;
}
.mb-m{
	margin-bottom: 60px;
}
.mb-l{
	margin-bottom: 120px;
	@media screen and (max-width:1023px) {
		margin-bottom: 60px;
	}
	@media screen and (max-width:550px) {
		margin-bottom: 30px;
	}
}
.btn{
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 3.5px 3.5px 3.5px 20.5px;
	align-items: center;
	justify-content: space-between;
	max-width: fit-content;
	background-color: $--white;
	color: $--dark-greenish-blue;
	@include text-regular-xs;
	border-radius: 300px;
	border: 1px solid $--dark-greenish-blue;
	transition: .3s ease-in-out;
	& svg{
		max-width: 30px;
		max-height: 30px;
	}
	&:hover{
		background-color:$--yellow-background ;
	}

}
.btn-blue{
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 13.5px 19px 13.5px 39px;
	align-items: center;
	justify-content: space-between;
	max-width: fit-content;
	background-color: $--dark-greenish-blue;
	color: $--white;
	@include text-regular-xs;
	border-radius: 300px;
	border: 1px solid transparent;
	transition: .3s ease-in-out;
	& svg{
		max-width: 36px;
		max-height: 36px;
		header & {
			max-width: 30px;
			max-height: 30px;
		}
	}
	&:hover{
		background: #FEB703;
		color: #022F45;
		& svg path{
			fill: $--white;
		}
		& svg circle{
			fill: $--dark-greenish-blue;
		}
	}
	&:active{
		background: #FFCC48;
		& svg path{
			fill: $--white;
			
		}
		& svg circle{
			fill: $--dark-greenish-blue;
		}
	}
	&:disabled{
		background: #9AACB5;
		color: #FFF;
		border-color: transparent;
	}
}
.logo{
	width: 100%;
	display: block;
	& img{
		max-width: 100%;
		width: 100%;
	}
	header &{
		max-width: 200px;
		
	}
	footer & {
		max-width: 320px;
		margin: 0 auto;
	}
}
.social-links{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 5px;
	& a{
		transition: .3s ease-in-out;
		max-width: 40px;
		max-height: 40px;
		width: 100%;
		height: 100%;
		& svg{
			max-width: 100%;
			max-height: 100%;
			transition: fill .3s ease-in-out;
			& circle,
			& path{
				transition: fill .3s ease-in-out;
			}
		}
		&:hover{
			& svg circle{
				fill: $--selected-yellow;
			}
			
		}
	}
}
.hours{
	display:flex;
	flex-direction: column;
	padding: 30px;
	align-items: flex-start;
	gap: 20px;
	flex-shrink: 0;
	border-radius: 30px;
	border: 1px solid var(--Dark-greenish-blue, #022F45);
	background: #FFF;
	color: $--black-silver;
	position: relative;
	height: auto;

	&.header-hours{
		justify-content: center;
		align-items: center;
		padding: 13.5px 42px 13.5px 20px;
		&:after{
			content: '';
			width: 14px;
			height: 14px;
			position: absolute;
			right: 20px;
			left: inherit;
			top: calc(50% - 9px);
			transition: .3s ease-in-out;
			background: url(../images/arrow-down.svg) center center / cover no-repeat;
		}
		&:hover,
		&:focus-visible{
			&:after{
				transform: rotate(180deg);
			}
			& ul{
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
		& p{
			@include text-regular-xs;
			cursor: pointer;
			text-transform: uppercase;
		}
		& ul{
			z-index: 1;
			visibility: hidden;
			position: absolute;
			top: calc(100% + 10px);
			width: 240px;
			height: auto;
			padding: 20px;
			border-radius: 30px;
			opacity: 0;
			transform: translateY(10px);
			background-color: $--white;
			border:1px solid $--dark-greenish-blue;
			transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
		}
	}
	& p{
		@include titleH4;
		text-transform: capitalize;
	}
	& ul{
		display: flex;
		flex-direction: column;
		gap: 5px;
		@include text-regular-line
	}
}
.step{
	width: 100%;
    position: relative;
    margin-bottom: 125px;
    padding-left: 5%;
	height: auto;
	overflow: hidden; 
      position: relative;
	  @media screen and (max-width:550px) {
		height: 55px;
	}
	&:after{
		content: '';
		width: 100%;
		height: 125px;
		background-image: url(../images/step-left.svg);
		background-position: right;
		background-repeat: no-repeat;
		display: block;
		@media screen and (max-width:1440px) {
			background-position: 0% 44%;
		}
		@media screen and (max-width:550px) {
			background-position: 100% 44%;
			height: 55px;
			background-image: url(../images/step-left-short.svg);
		}
		@media screen and (max-width:380px) {
			background-position: -10% 44%;
		}
		@media screen and (min-width:1441px) {
			background-position: auto;
		}
	}
	&.step-left{
		transform: scaleX(-1);
	}

}

.title-center{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	@media screen and (max-width:767px) {
		flex-direction: column;
		text-align: center;
		gap: 10px;
	}
}
.title-space{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	& h2{
		max-width: 70%;
	}
	@media screen and (max-width:767px) {
		flex-direction: column;
		text-align: center;
		margin-bottom: 30px;
	}
}
.grid-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	@media screen and (max-width:1023px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media screen and (max-width:767px) {
		display: flex;
		flex-direction: column;
	}

}
.grid-item{
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: space-between;
	height: 100%;
	flex-grow: 1;
	padding: 40px;
	border-radius: 30px;
	min-height: 280px;
	max-width: 100%;
	width: 100%;
	& img{
		max-width: 64px;
		max-height: 64px;
		height: 100%;
		width: 100%;
		aspect-ratio: 1;
	}
	
}
.grid-item-title{
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 100%;
		width: 100%;
		font-size: 24px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		& svg{
			max-width: 36px;
			width: 100%;
			aspect-ratio: 1;
			& path,
			& circle{
				transition: .3  ease-in-out;
			}
		}
}
.row{
	display: flex;
	align-items: flex-start;
	gap: 40px;
	@media screen and (max-width: 1023px) {
		flex-direction: column;
	}
}
.row-reverse{
	display: flex;
	flex-direction: row-reverse;
	gap: 40px;
	@media screen and (max-width: 1023px) {
		flex-direction: column;
	}
}
.contact-link{
	display: flex;
	align-items: center;
	gap: 10px;
	@include text-regular-L;
	padding: 18.5px;
	border-radius: 300px;
	border: 1px solid $--dark-greenish-blue;
	background-color: $--white;
	transition: .3s ease-in-out;
	
	&.mini-link {
		& svg{
			max-width: 30px;
			max-height: 30px;
			aspect-ratio: 1;
		} 
	}
	& svg{
		max-width: 62px;
		max-height: 62px;
		aspect-ratio: 1;
		& path,
		& circle{
			transition: .25s ease;
		}
	}
	&:hover{
		background-color: $--yellow-background;
		
	}
}
.stars{
	display: flex;
	align-items: center;
	& svg{
		max-width: 20px;
		max-height: 20px;
		width: 100%;
		height: 100%;
	}
}
.arrows{
	display: flex;
	align-items: center;
	gap: 10px;
	max-width: 140px;
		@media screen and (max-width:767px) {
			display: none;
		}
}
.arrow{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 64px;
	max-height: 64px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: $--dark-greenish-blue;
	padding: 20px;
	aspect-ratio: 1;
	cursor: pointer;
	transition: .3s ease-in-out;
	@media screen and (max-width:767px) {
		display: none;
	}
	&.swiper-button-disabled{
		background-color: $--silver-blue;
		cursor:not-allowed;;
		&:hover{
			background-color: $--silver-blue;
		}
	}
	&:hover{
		background-color: $--selected-yellow;
		
	}
}