/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul[class],
ol[class] {
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Red Hat Display";
  src: url(../fonts/RedHatDisplay-Bold.ttf);
  font-weight: 700;
}
.container {
  max-width: 1340px;
  padding: 0 20px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

h1 {
  font-size: 45px;
  line-height: 120%;
  font-family: "Red Hat Display";
  font-weight: 600;
}
@media screen and (max-width: 550px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-size: 40px;
  line-height: normal;
  font-family: "Red Hat Display";
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 34px;
  }
}
@media screen and (max-width: 550px) {
  h2 {
    font-size: 26px;
  }
}
h2 span {
  font: inherit;
  color: inherit;
  border-radius: 500px;
  border: 1px solid #022F45;
  background: #ffffff;
  padding: 5px 15px;
  margin-left: 10px;
}

h3 {
  font-size: 32px;
  line-height: 100%;
  font-family: "Red Hat Display";
  font-weight: 500;
}
@media screen and (max-width: 767px) {
  h3 {
    font-size: 32px;
  }
}
@media screen and (max-width: 550px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-size: 20px;
  line-height: 120%;
  font-family: "Red Hat Display";
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  h4 {
    font-size: 20px;
  }
}

body {
  font-family: "Red Hat Display";
  color: #022F45;
}

.mb-m {
  margin-bottom: 60px;
}

.mb-l {
  margin-bottom: 120px;
}
@media screen and (max-width: 1023px) {
  .mb-l {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 550px) {
  .mb-l {
    margin-bottom: 30px;
  }
}

.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 3.5px 3.5px 3.5px 20.5px;
  align-items: center;
  justify-content: space-between;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #ffffff;
  color: #022F45;
  font-size: 12px;
  line-height: 100%;
  font-family: "Red Hat Display";
  font-weight: 400;
  border-radius: 300px;
  border: 1px solid #022F45;
  transition: 0.3s ease-in-out;
}
.btn svg {
  max-width: 30px;
  max-height: 30px;
}
.btn:hover {
  background-color: #FFF3D6;
}

.btn-blue {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 13.5px 19px 13.5px 39px;
  align-items: center;
  justify-content: space-between;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #022F45;
  color: #ffffff;
  font-size: 12px;
  line-height: 100%;
  font-family: "Red Hat Display";
  font-weight: 400;
  border-radius: 300px;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
.btn-blue svg {
  max-width: 36px;
  max-height: 36px;
}
header .btn-blue svg {
  max-width: 30px;
  max-height: 30px;
}
.btn-blue:hover {
  background: #FEB703;
  color: #022F45;
}
.btn-blue:hover svg path {
  fill: #ffffff;
}
.btn-blue:hover svg circle {
  fill: #022F45;
}
.btn-blue:active {
  background: #FFCC48;
}
.btn-blue:active svg path {
  fill: #ffffff;
}
.btn-blue:active svg circle {
  fill: #022F45;
}
.btn-blue:disabled {
  background: #9AACB5;
  color: #FFF;
  border-color: transparent;
}

.logo {
  width: 100%;
  display: block;
}
.logo img {
  max-width: 100%;
  width: 100%;
}
header .logo {
  max-width: 200px;
}
footer .logo {
  max-width: 320px;
  margin: 0 auto;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.social-links a {
  transition: 0.3s ease-in-out;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
}
.social-links a svg {
  max-width: 100%;
  max-height: 100%;
  transition: fill 0.3s ease-in-out;
}
.social-links a svg circle, .social-links a svg path {
  transition: fill 0.3s ease-in-out;
}
.social-links a:hover svg circle {
  fill: #FEB703;
}

.hours {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid var(--Dark-greenish-blue, #022F45);
  background: #FFF;
  color: #283441;
  position: relative;
  height: auto;
}
.hours.header-hours {
  justify-content: center;
  align-items: center;
  padding: 13.5px 42px 13.5px 20px;
}
.hours.header-hours:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  right: 20px;
  left: inherit;
  top: calc(50% - 9px);
  transition: 0.3s ease-in-out;
  background: url(../images/arrow-down.svg) center center/cover no-repeat;
}
.hours.header-hours:hover:after, .hours.header-hours:focus-visible:after {
  transform: rotate(180deg);
}
.hours.header-hours:hover ul, .hours.header-hours:focus-visible ul {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.hours.header-hours p {
  font-size: 12px;
  line-height: 100%;
  font-family: "Red Hat Display";
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
}
.hours.header-hours ul {
  z-index: 1;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 10px);
  width: 240px;
  height: auto;
  padding: 20px;
  border-radius: 30px;
  opacity: 0;
  transform: translateY(10px);
  background-color: #ffffff;
  border: 1px solid #022F45;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.hours p {
  font-size: 20px;
  line-height: 120%;
  font-family: "Red Hat Display";
  font-weight: 600;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .hours p {
    font-size: 20px;
  }
}
.hours ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 400;
}

.step {
  width: 100%;
  position: relative;
  margin-bottom: 125px;
  padding-left: 5%;
  height: auto;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 550px) {
  .step {
    height: 55px;
  }
}
.step:after {
  content: "";
  width: 100%;
  height: 125px;
  background-image: url(../images/step-left.svg);
  background-position: right;
  background-repeat: no-repeat;
  display: block;
}
@media screen and (max-width: 1440px) {
  .step:after {
    background-position: 0% 44%;
  }
}
@media screen and (max-width: 550px) {
  .step:after {
    background-position: 100% 44%;
    height: 55px;
    background-image: url(../images/step-left-short.svg);
  }
}
@media screen and (max-width: 380px) {
  .step:after {
    background-position: -10% 44%;
  }
}
@media screen and (min-width: 1441px) {
  .step:after {
    background-position: auto;
  }
}
.step.step-left {
  transform: scaleX(-1);
}

.title-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .title-center {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}

.title-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.title-space h2 {
  max-width: 70%;
}
@media screen and (max-width: 767px) {
  .title-space {
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1023px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  height: 100%;
  flex-grow: 1;
  padding: 40px;
  border-radius: 30px;
  min-height: 280px;
  max-width: 100%;
  width: 100%;
}
.grid-item img {
  max-width: 64px;
  max-height: 64px;
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
}

.grid-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.grid-item-title svg {
  max-width: 36px;
  width: 100%;
  aspect-ratio: 1;
}
.grid-item-title svg path, .grid-item-title svg circle {
  transition: 0.3 ease-in-out;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
@media screen and (max-width: 1023px) {
  .row {
    flex-direction: column;
  }
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}
@media screen and (max-width: 1023px) {
  .row-reverse {
    flex-direction: column;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 400;
  padding: 18.5px;
  border-radius: 300px;
  border: 1px solid #022F45;
  background-color: #ffffff;
  transition: 0.3s ease-in-out;
}
.contact-link.mini-link svg {
  max-width: 30px;
  max-height: 30px;
  aspect-ratio: 1;
}
.contact-link svg {
  max-width: 62px;
  max-height: 62px;
  aspect-ratio: 1;
}
.contact-link svg path, .contact-link svg circle {
  transition: 0.25s ease;
}
.contact-link:hover {
  background-color: #FFF3D6;
}

.stars {
  display: flex;
  align-items: center;
}
.stars svg {
  max-width: 20px;
  max-height: 20px;
  width: 100%;
  height: 100%;
}

.arrows {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 140px;
}
@media screen and (max-width: 767px) {
  .arrows {
    display: none;
  }
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #022F45;
  padding: 20px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .arrow {
    display: none;
  }
}
.arrow.swiper-button-disabled {
  background-color: #9AACB5;
  cursor: not-allowed;
}
.arrow.swiper-button-disabled:hover {
  background-color: #9AACB5;
}
.arrow:hover {
  background-color: #FEB703;
}

.header__top {
  background-color: #FEB703;
  padding: 10px 0;
}

.header__top_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (max-width: 367px) {
  .header__top_container {
    flex-wrap: wrap;
  }
}

.header__contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1023px) {
  .header__contact a[href^=mailto], .header__contact a[href^=tel] {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .header-hours {
    display: none;
  }
}

.header__bottom {
  padding: 15px 0;
  background-color: #022F45;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 19px;
}
@media screen and (max-width: 1024px) {
  .header__wrap {
    padding-bottom: 0;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 1024px) {
  .header__links .btn {
    display: none;
  }
}

.resize-menu {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #FEB703;
  padding: 10px 25px;
  border-radius: 8px;
  border: 1px solid #FEB703;
  cursor: pointer;
}

.resize-menu-title {
  font-size: 14px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 500;
  color: #022F45;
}

.header__navigation {
  padding-top: 19px;
  border-top: 1px solid #9AACB5;
}
@media screen and (max-width: 1024px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation .menu {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-around;
  color: #9AACB5;
}
@media screen and (min-width: 1200px) {
  .header__navigation .menu {
    gap: 60px;
  }
}
.header__navigation .menu a {
  width: -moz-fit-content;
  width: fit-content;
}
.header__navigation .menu li {
  position: relative;
}
.header__navigation .menu li:has(.sub-menu) {
  position: relative;
  transition: 0.3s ease-in-out;
}
.header__navigation .menu li:has(.sub-menu)::after {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  right: -17px;
  left: inherit;
  top: calc(50% - 6px);
  transition: 0.3s ease-in-out;
  background: url(../images/arrow-down-silver.svg) center center/cover no-repeat;
}
.header__navigation .menu li:has(.sub-menu):hover:after, .header__navigation .menu li:has(.sub-menu):focus-visible:after {
  transform: rotate(180deg);
}
.header__navigation .menu li:has(.sub-menu):hover .sub-menu, .header__navigation .menu li:has(.sub-menu):focus-visible .sub-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.header__navigation .menu li:not(:has(.sub-menu li)) > a:hover {
  color: #ffffff;
}
.header__navigation ul.sub-menu {
  position: absolute;
  top: calc(100% + 1px);
  left: -27px;
  transform: translateY(10px);
  width: 200px;
  height: auto;
  background-color: #022F45;
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: start;
  gap: 20px;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  z-index: 50;
}
.header__navigation ul.sub-menu:hover {
  visibility: visible;
  opacity: 1;
}

.header__mob-menu {
  position: absolute;
  height: 100%;
  gap: 10px;
  top: 196px;
  height: calc(100vh - 196px);
  left: 0;
  z-index: -1;
  transform: translate(0, 30px);
  visibility: hidden;
  opacity: 0;
  background: #fff;
  width: 100%;
  padding: 22px 0 40px;
  background-size: cover;
  transition: 0.5s;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
.open .header__mob-menu {
  z-index: 100;
  transform: translate(0, 0px);
  visibility: visible;
  opacity: 1;
}

.top-menu {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.top-menu li {
  width: calc(25% - 10px);
  display: inline-block;
}

.footer__top {
  background-color: #ECF1F5;
  padding: 30px 0px;
  border-radius: 60px 60px 0px 0px;
}

.footer__top-wrap {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .footer__top-wrap {
    flex-wrap: wrap;
  }
}
.footer__top-wrap .btn {
  margin-left: auto;
  padding: 13.5px 19px 13.5px 40px;
  font-size: 16px;
  line-height: 100%;
  font-family: "Red Hat Display";
  font-weight: 400;
  color: #022F45;
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .footer__top-wrap .btn {
    gap: 30px;
  }
}
.footer__top-wrap .btn svg {
  max-width: 36px;
  max-height: 36px;
}
.footer__top-wrap .btn:hover {
  color: #ffffff;
}

.footer__center {
  background-color: #022F45;
  color: #9AACB5;
}

.footer__center-top {
  width: 100%;
  padding: 60px 0;
}

.footer__center-menu {
  display: flex;
  gap: 14px;
}
@media screen and (max-width: 1023px) {
  .footer__center-menu {
    flex-direction: column;
  }
}

.footer-menu {
  display: flex;
  width: 73%;
  justify-content: space-around;
  gap: 40px;
}
@media screen and (max-width: 1023px) {
  .footer-menu {
    flex-direction: column;
  }
}
.footer-menu li:not(.sub-menu li) {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-menu li:not(.sub-menu li) > a {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}
.footer-menu .sub-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-menu .sub-menu a {
  transition: 0.3s ease-in;
}
.footer-menu .sub-menu a:hover {
  color: #ffffff;
}

.footer__socials-wrap {
  width: 24%;
}

.footer__social-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid #9AACB5;
}
.footer__social-item a {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer__social-item a {
    font-size: 24px;
  }
}
@media screen and (max-width: 1024pxpx) {
  .footer__social-item a {
    word-break: break-all;
  }
}
.footer__social-item a.btn {
  color: #022F45;
  text-transform: none;
  font-size: 14px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 500;
  max-width: 100%;
  width: 100%;
  padding: 13.5px 20px;
}
.footer__social-item a.btn svg {
  max-width: 36px;
  max-height: 36px;
}

.footer__social {
  justify-content: flex-start;
}

.lumious {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 270px;
}

.footer__copy {
  background-color: #FEB703;
}

.footer__copy_wrap {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 100%;
  font-family: "Red Hat Display";
  font-weight: 400;
}
.footer__copy_wrap ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main {
  background-color: #ECF1F5;
  border-radius: 0px 0px 60px 60px;
}

.main__container {
  display: flex;
  padding: 80px 0;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .main__container {
    gap: 60px;
  }
}
@media screen and (max-width: 1023px) {
  .main__container {
    flex-direction: column-reverse;
  }
}

.main__content {
  width: 45%;
  height: auto;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .main__content {
    width: 100%;
  }
}
.main__content h1 {
  margin-bottom: 14px;
}
.main__content p {
  font-size: 16px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 400;
  margin-bottom: 10px;
}
.main__content p:has(+ a) {
  margin-bottom: 40px;
}
.main__content .btn-blue {
  max-width: 300px;
  width: 100%;
  font-size: 16px;
  margin-bottom: 60px;
}

.main__items {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  .main__items {
    overflow: auto;
    overflow-y: scroll;
  }
}

.main__item {
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  max-width: 170px;
}
@media screen and (max-width: 767px) {
  .main__item {
    min-width: 170px;
  }
}
@media screen and (max-width: 420px) {
  .main__item {
    min-width: 65%;
  }
}
.main__item img {
  margin-bottom: 40px;
  max-width: 48px;
  max-height: 48px;
  width: 100%;
  height: 100%;
}
.main__item span {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 5px;
}
.main__item p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 0;
}

.main__img {
  width: 45%;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .main__img {
    width: 100%;
  }
}
.main__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main__img .car,
.main__img .dell {
  position: absolute;
  aspect-ratio: 1;
  top: 0;
  left: inherit;
  right: 0;
}
@media screen and (max-width: 1023px) {
  .main__img .car,
  .main__img .dell {
    display: none;
  }
}
.main__img .car {
  max-width: 110px;
  max-height: 110px;
  transform: translate(-100%, 70%);
}
@media screen and (max-width: 1201px) and (min-width: 1100px) {
  .main__img .car {
    max-width: 140px;
    max-height: 140px;
    transform: translate(-84%, 18%);
  }
}
@media screen and (min-width: 1200px) {
  .main__img .car {
    transform: translate(-75%, 0%);
    max-width: 156px;
    max-height: 156px;
  }
}
.main__img .dell {
  max-width: 85px;
  max-height: 85px;
  transform: translate(-30%, 153%);
}
@media screen and (min-width: 1200px) {
  .main__img .dell {
    transform: translate(-25%, 100%);
    max-width: 117px;
    max-height: 117px;
  }
}
@media screen and (min-width: 1100px) {
  .main__img .dell {
    max-width: 100px;
    max-height: 102px;
    transform: translate(-25%, 114%);
  }
}

.moving__container .btn-blue {
  margin: 0 auto;
  gap: 60px;
  font-size: 16px;
}
@media screen and (max-width: 375px) {
  .moving__container .btn-blue {
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    gap: 20px;
  }
}
.moving__container .btn-blue svg {
  max-width: 36px;
  max-height: 36px;
}

.moving__items {
  margin-bottom: 30px;
}

.moving__item {
  background-color: #ECF1F5;
  transition: 0.3s ease-in-out;
}
.moving__item:hover {
  background-color: #FFF3D6;
}

.target__tabs {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 1023px) {
  .target__tabs {
    flex-direction: column;
  }
}

.target__list {
  width: 46%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1023px) {
  .target__list {
    flex-direction: row;
    overflow: hidden;
    overflow-x: auto;
    gap: 8px;
    width: 100%;
  }
}

.target__list-item {
  display: flex;
  align-items: center;
  padding: 28.5px;
  border-radius: 25px;
  border: 1px solid #9AACB5;
  background: #ffffff;
  font-size: 20px;
  line-height: 120%;
  font-family: "Red Hat Display";
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
  .target__list-item {
    font-size: 20px;
  }
}
.target__list-item.active {
  background-color: #FEB703;
}
.target__list-item:hover {
  background-color: #FFF3D6;
}
@media screen and (max-width: 1023px) {
  .target__list-item {
    min-width: calc(100% - 15px);
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .target__list-item {
    padding: 20px;
  }
}

.target__content {
  flex-direction: column;
  border-radius: 50px;
  border: 1px solid #9AACB5;
  background: #ffffff;
  width: 79%;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 1023px) {
  .target__content {
    width: 100%;
  }
}
.target__content img {
  max-height: 300px;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}
.target__content h3 {
  font-size: 20px;
  line-height: 120%;
  font-family: "Red Hat Display";
  font-weight: 600;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .target__content h3 {
    font-size: 20px;
  }
}
.target__content p {
  margin-bottom: 30px;
}
.target__content p:has(+ ul) {
  margin-bottom: 15px;
}
.target__content ul {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 30px;
}
.target__content ul li {
  font-size: 16px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 400;
}
.target__content .btn-blue {
  gap: 60px;
}

.target__content-text {
  padding: 40px;
}
@media screen and (max-width: 767px) {
  .target__content-text {
    padding: 20px;
  }
}

.consultation {
  padding: 80px 0;
  background-color: #ECF1F5;
  border-radius: 60px;
}
@media screen and (max-width: 767px) {
  .consultation {
    padding: 40px 0;
  }
}

.consultation__container {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .consultation__container {
    flex-direction: column;
  }
}

.consultation__content {
  flex: 0 1 42.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.consultation__content h2 {
  margin-bottom: 20px;
}
.consultation__content p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 400;
}
.consultation__content p:nth-last-of-type(1) {
  margin-bottom: 30px;
}
.consultation__content .btn-blue {
  gap: 60px;
}
@media screen and (max-width: 550px) {
  .consultation__content .btn-blue {
    gap: 40px;
    max-width: 100%;
  }
}

.consultation__img {
  flex: 0 0 47.5%;
  height: 100%;
}
.consultation__img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 0.8;
}

.order__row {
  margin-bottom: 10px;
}

.order__row_descr {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 60px;
  border: 1px solid #022F45;
  background: #ECF1F5;
  height: -moz-fit-content;
  height: fit-content;
  flex: 1 1 45%;
}
@media screen and (max-width: 1023px) {
  .order__row_descr {
    width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .order__row_descr {
    padding: 30px;
  }
}
.order__row_descr h3 {
  margin-bottom: 5px;
}
.order__row_descr p {
  font-size: 16px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 400;
  margin-bottom: 10px;
}
.order__row_descr p:nth-last-of-type(1) {
  margin-bottom: 40px;
}
.order__row_descr .btn-blue {
  gap: 60px;
}
@media screen and (max-width: 550px) {
  .order__row_descr .btn-blue {
    max-width: 100%;
    gap: 20px;
  }
}

.order__row_descr-count {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #022F45;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 120%;
  font-family: "Red Hat Display";
  font-weight: 600;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 20px;
  aspect-ratio: 1;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .order__row_descr-count {
    font-size: 20px;
  }
}

.area__wrap {
  gap: 20px;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .area__wrap {
    flex-direction: column-reverse;
  }
}

ul.area__list {
  display: flex;
  align-items: center;
  gap: 7px 40px;
  flex-wrap: wrap;
  padding: 30px;
  background-color: #ECF1F5;
  border: #022F45 1px solid;
  border-radius: 40px;
  flex: 1 1 40.5%;
}
ul.area__list li {
  width: calc(33.3333333333% - 30px);
}
@media screen and (max-width: 767px) {
  ul.area__list li {
    width: calc(50% - 20px);
  }
}
ul.area__list li a {
  font-size: 16px;
  line-height: 140%;
  font-family: "Red Hat Display";
  font-weight: 400;
  text-decoration-line: underline;
  transition: 0.3s ease-in-out;
}
ul.area__list li a:hover {
  color: #FEB703;
}

.area__map {
  border-radius: 20px;
  width: 60%;
}
@media screen and (max-width: 1023px) {
  .area__map {
    width: 100%;
  }
}
.area__map img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
@media screen and (max-width: 550px) {
  .area__map img {
    aspect-ratio: 1/1;
  }
}

.reviewsSlider {
  position: relative;
  padding-bottom: 40px;
}

.reviews {
  padding: 100px 0;
  border-radius: 60px;
  background-color: #ECF1F5;
}

.reviews__title {
  margin-bottom: 40px;
}
.reviews__title h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 767px) {
  .reviews__title h2 {
    flex-direction: column;
  }
}

.response {
  padding: 40px;
  border-radius: 30px;
  border: 1px solid #9AACB5;
  background-color: #ffffff;
  height: auto;
}
@media screen and (max-width: 767px) {
  .response {
    padding: 20px;
  }
}

.response-title {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .response-title {
    margin-bottom: 20px;
  }
}

.user-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  max-width: 64px;
  max-height: 64px;
  aspect-ratio: 1;
}
.user-img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reviews-pagination.swiper-pagination-bullets {
  transform: translate(0%, 40px);
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  z-index: 1;
}
.reviews-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #283441;
}

.promo {
  border-radius: 60px;
  background-color: #ECF1F5;
}
@media screen and (max-width: 767px) {
  .promo {
    overflow: hidden;
  }
}

.promo__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .promo__container {
    flex-direction: column;
    gap: 40px;
  }
}

.promo__descr {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .promo__descr {
    width: 100%;
    padding: 40px 0;
  }
}
@media screen and (max-width: 767px) {
  .promo__descr .contact-link {
    max-width: 100%;
    width: 100%;
  }
}

.news__slider {
  padding-bottom: 40px;
}

.newsSlider {
  padding-bottom: 40px;
}

.news__title {
  margin-bottom: 40px;
}

.news {
  border-radius: 50px 50px 60px 60px;
  height: auto;
  max-width: 100%;
  width: 100%;
  flex-grow: 1;
  border: 1px solid #9AACB5;
  display: flex;
  flex-direction: column;
}
.news:hover .news__img::after {
  opacity: 1;
}

.news__img {
  position: relative;
  border-radius: 50px 50px 0px 0px;
  max-height: 270px;
  height: 100%;
  flex-grow: 1;
  position: relative;
}
.news__img::after {
  content: "";
  top: 0;
  left: 0;
  border-radius: inherit;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: 0.3s ease-in-out;
  background-color: rgba(254, 183, 3, 0.4);
}
@media screen and (max-width: 550px) {
  .news__img {
    max-height: 220px;
  }
}
.news__img img {
  height: 100%;
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}

.express {
  position: absolute;
  padding: 10px;
  top: 40px;
  left: 40px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #022F45;
  border-radius: 500px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: #ffffff;
  z-index: 1;
}

.news__content {
  padding: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 0px 0px 60px 60px;
  flex-grow: 1;
  flex: 1 1 45%;
}
.news__content h3 {
  font-size: 20px;
  line-height: 120%;
  font-family: "Red Hat Display";
  font-weight: 600;
  line-height: 130%;
  flex-grow: 1;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .news__content h3 {
    font-size: 20px;
  }
}

.news-pagination.swiper-pagination-bullets {
  transform: translate(0, 40px);
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}
.news-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #283441;
}

@media screen and (max-width: 767px) {
  .news-arrows {
    display: none;
  }
}

.article__container {
  padding: 60px;
  background-color: #ffffff;
  border-radius: 60px;
  border: 1px solid #9AACB5;
}
@media screen and (max-width: 767px) {
  .article__container {
    padding: 30px;
  }
}

.state__article {
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .state__article {
    margin-bottom: 20px;
  }
}
.state__article h2 {
  margin-bottom: 20px;
}
.state__article p {
  margin-bottom: 30px;
}
.state__article p:has(+ p), .state__article p:has(+ ul) {
  margin-bottom: 10px;
}
.state__article h3 {
  margin-bottom: 15px;
}
.state__article h4 {
  margin-bottom: 15px;
}
.state__article ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 30px;
}
.state__article img {
  max-width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  aspect-ratio: 1/0.7;
}

.article-btn {
  color: #022F45;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  text-decoration-line: underline;
  transition: 0.3s ease-in-out;
  background: none;
  outline: none;
}
.article-btn:hover {
  color: #FEB703;
}/*# sourceMappingURL=style.css.map */